* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 100%;

    scroll-behavior: smooth;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif, 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    height: 200vh;
    
    
}

a {
    text-decoration: none;
    /* color: #000; */
    color: #0066CC;
    cursor: pointer;
}

button {
    cursor: pointer;
}

header {
    height: 44px;
    background-color: #333333;

    font-size: 12px;
    font-weight: 200;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header ul {
    width: 1024px;
    height: 44px;
    margin: 0 auto;

    color: #f5f5f7;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    cursor: pointer;

    padding: 0 8px;
    opacity: 0.8;
    transition: 0.3s ease-out;
}

header img {
    cursor: pointer;
    color: #f5f5f7;

    padding: 0 8px;
    opacity: 0.8px;
    transition: 0.3s ease-out;

    filter: contrast(1000);
}

header li:hover, img:hover {
    opacity: 1;
}

.blc_fix {
    height: 52px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    z-index: 20;

    transition: 0.3s ease;
    margin-top: 44px;
    background-color: hsla(0, 0%, 100%, .72);
    border-bottom: 1px solid grey;
}

.blc_stc {
    height: 52px;
    background-color: hsla(0, 0%, 100%, .72);
}

.href_stck {
    background-color: hsla(0, 0%, 100%, .72);
    margin: 0 auto;
    padding: 0 22px;

    width: 1024px;
    height: 49px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.href_stck a {
    color: #000;
}

.left_stck {
    font-size: 21px;
    font-weight: bolder;
}

.right_stck {
    font-size: 17px;
}

.right_stck span, .main_top_set p span {
    display: none;
}

main {
    height: 110px;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;

    font-size: 14px;
    color: #1d1d1f;
}

.main_top_width {
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0;

    width: 980px;
}

.main_top_set {
    background: #fbfbfd;
    border-radius: 18px;
    padding: 20px 13px;

    display: flex;
    align-items: center;
    gap: 25px;
}

.blc_1, .blc_2, .blc_3, .blc_4 {
    width: 229px;
    height: 70px;

    padding: 0 0 0 20px;
    color: #1d1d1f;
}

.flex_d {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.main_top_set img {
    width: auto;
    height: 28px;
}

.blc_1 {
    font-size: 17px;
    font-weight: 500;
}

.blc_1 p {
    font-weight: 600;
}

.blc_1 button {
    font-weight: 200;
    color: #06c;

    background: transparent;
    border: 0;
}

.blc_1 button:hover {
    text-decoration: underline;
}