/* //viewport */
.viewport-wrapper {
    display: block;
    width: 0px;
}

#hr_right_one {
    width: ;
}

/* img iphone style */
.blc_m {
    margin-left: auto;
    margin-right: auto;
    width: 980px;

    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#disp {
    display: flex;
    justify-content: center;
}

.blc_m button {
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.st {
    width: 408px;
    height: 83px;
    border-color: #d2d2d7;
}

.st_0:hover {
    border-color: black;
}

.img_st {
    width: 32px;
}

.blc_r_00 {
    width: 440px;
    height: 200px;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
}

#bottom_hr_right {
    width: 408px;
    border: 1px solid #d2d2d7;

    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.blc_001 {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blc_r_01 {
    width: 445px;
    display: flex;
    flex-wrap: wrap;
}

.st_1 {
    width: 197px;
    height: 103px;
    margin: 5px;
    padding: 15px;

    border-color: #d2d2d7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.st_1:hover {
    border-color: #1d1d1f;
}

.blc_11 {
    width: 490px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0px;
}

.active {
    border: 3px solid #0071E3 !important;
}