.blc_right_text_top {
    font-size: 17px;
    line-height: 1.47059;
    color: #1D1D1F;
    /* opacity: 6; */
    letter-spacing: -.022em;
}

.blc_t_width {
    width: 408px;
    margin-right: 30px;
}

#color_blc_right_text {
    /* box-sizing: border-box; */
    display: block;
    color: #bf4800;

}

.blc_right_text_top h1 {
    font-weight: bold;
    font-size: 40px;
    font-weight: small;
}

.blc_right_text_top p {
    padding: 25px 0 5px;
}

.blc_right_text_top button {
    border: 0 !important;
    color: #0066CC;
}

.blc_right_text_top button:hover {
    text-decoration: underline;
}

-------JS---
function scrollTop(){
    window.scroll(0, 430);
}
function scrollTop_two(){
    window.scroll(0, 730);
}
// let scrolltop = document.querySelector(".blc_r_00")
// scrolltop.onclick = () => {
//     // scrollTop()
//     window.scroll(0, 100);
// }

// let clc_pro = document.querySelectorAll(".blc_r_00")
// scrolltop.onclick= () =>{
//                   scrollTop: scrolltop.offset().top
//                 }

//                 function offset(){
//                         window.scrollTo(0, 10);
//                     }

// var  intElemScrollTop = example.scrollTop;
// clc_pro.scrollTop = 0;

// let $page = $('html, body');
// $('a[href*="#"]').click(function() {
//     $page.animate({
//         scrollTop: $($.attr(this, 'href')).offset().top
//     }, 400);
//     return false;
// });

// const anchors = document.querySelectorAll('a[href*="#"]')

// for (let anchor of anchors) {
//   anchor.addEventListener('click', function (e) {
//     e.preventDefault()
    
//     const blockID = anchor.getAttribute('href').substr(1)
    
//     document.getElementById(blockID).scrollIntoView({
//       behavior: 'smooth',
//       block: 'start'
//     })
//   })
// }

---html----

// h2 {
//     margin-bottom: 100vh;
//   }
//   <ul>
//     <li><a href="#head1">head 1</a>
//     <li><a href="#head2">head 2</a>
//     <li><a href="#head3">head 3</a>
//     <li><a href="#head4">head 4</a>
//   </ul>
  
//   <h2 id="head1">heading 1</h2>
//   <h2 id="head2">heading 2</h2>
//   <h2 id="head3">heading 3</h2>
//   <h2 id="head4">heading 4</h2>